#wrapper
 .card.card1
  .content
   .inner
   %h1.word This
   %h3{"data-text" => "02"} 02
   %p Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc.
 .card.card2
  .content
   .inner
   %h1.word Check
   %h3{"data-text" => "01"} 01
   %p Nulla consequat massa quis enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. In ac felis quis tortor malesuada pretium.
 .card.card3
  .content
   .inner
   %h1.word Out
   %h3{"data-text" => "04"} 04
   %p Nullam accumsan lorem in dui. Donec vitae orci sed dolor rutrum auctor. Curabitur vestibulum aliquam leo.
 .card.card4
  .content
   .inner
   %h1.word Thing
   %h3{"data-text" => "03"} 03
   %p Fusce risus nisl, viverra et, tempor et, pretium in, sapien. In hac habitasse platea dictumst. Nam adipiscing.
 #trigger